<div class="container">
  <div class="row my-2">
    <div class="col-md-12">
      <app-add-user></app-add-user>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-md-12">
      <h2>user list</h2>
      <app-user *ngFor="let user of users; index as i" [name]="user.name" [status]="user.status">
        <span><button class="btn btn-outline-success mx-2" (click)="onActive(i,'active')">
            active
          </button></span>
        <span><button class="btn btn-outline-danger" (click)="onInActive(i,'inactive')">
            inactive
          </button></span>
          <span class="float-right">
            <button class="btn btn-outline-warning" (click)="remove(i)">remove user</button>
          </span>
      </app-user>
    </div>
  </div>
</div>
