<div class="conatiner-fluid">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col-4">
      <div class="card shadow">
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
            <div class="mb-2">
              <h2 class="text-muted">login</h2>
            </div>
            <div class="form-group mt-2">
              <label for="email" class="form-label">email</label>
              <input type="email" class="form-control" name="email" formControlName="email">
              <div class="help-text" *ngIf="email?.invalid && email?.touched">
                <span *ngIf="email?.errors?.['required']">email is required</span>
                <span *ngIf="email?.errors?.['email']">email is not valid</span>
              </div>
            </div>
            <div class="form-group mt-2">
              <label for="password" class="form-label">password</label>
              <input type="password" class="form-control" name="password" formControlName="password">
              <div class="help-text" *ngIf="password?.invalid && password?.touched">
                <span *ngIf="password?.errors?.['required']">password is required</span>
                <span *ngIf="password?.errors?.['minlength']">length must be greter then or equal to six</span>
              </div>
            </div>
            <div class="my-3">
              <button type="submit" class="btn btn-sm btn-info">Login</button>
            </div>
            <div class="row mt-5">
              <div class="col-md-6">
                <a style="text-decoration: none; color: palevioletred;">Don't Have Account ?</a>
                <button class="btn btn-sm btn-warning my-2" (click)="navigateToRegister()" type="button">register</button>
              </div>
              <div class="col-md-6">
                <a href="" style="text-decoration: none; color: rgb(112, 148, 216);">Forgot Password ?</a>
                <button class="btn btn-sm btn-warning my-2" (click)="navigateToForgotPassword()" type="button">Forgot Password</button>
              </div>
            </div>

            <div class="row my-2" >
              <a href="" class="nav-link text-center text-muted" (click)="signWithGoogle()">
                <div class="card">
                  <div class="card-body">
                    <img src="../../../assets/google.png" alt="" class="Gimage"> Sign In With Google Account
                  </div>
                </div>
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
