<div class="conatiner-fluid">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="my-2">
                <p class="card-title">welcome to dashboard</p>
            </div>
              <div class="my-3">
                <button type="submit" class="btn btn-sm btn-info" (click)="onLogout()">Logout</button>
              </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  