<div class="conatiner-fluid">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onsubmit(forgotPasswordForm)">
              <div class="mb-2">
                <h4 class="text-muted text-dark">forgot password</h4>
              </div>
              <div class="mb-2">
                <label for="email" class="form-label">email</label>
                <input type="email" class="form-control" name="email" formControlName="email">
                <div class="help-text" *ngIf="email?.invalid && email?.touched">
                    <span *ngIf="email?.errors?.['required']">email is required</span>
                    <span *ngIf="email?.errors?.['email']">email is not valid</span>
                  </div>
              </div>
              <div class="my-3">
                <button type="submit" class="btn btn-sm btn-info">send link to email</button>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <a style="text-decoration: none; color: palevioletred;">Back to Login Page</a>
                <div class="col-md-6">
                    <button class="btn btn-sm btn-warning my-2" (click)="navigateToLogin()">login</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  