<div class="conatiner-fluid">
    <div class="row mt-5">
      <div class="col"></div>
      <div class="col-4">
        <div class="card shadow">
          <div class="card-body">
            <div class="my-2">
                <p class="card-title text-capitalize">welcome</p>
            </div>
              <div class="my-3">
                <p class="text-success-emphasis">Email verification is sent to your registered email</p>
              </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  